.selected-page{
    background-color: rgb(0, 160, 225);
    color: white !important;
}

.page-link{
    border: none;
    color: rgb(0, 160, 225) ;
}

.dot {
    align-self: flex-end;
    margin-bottom: 5px;
    color: rgb(0, 160, 225) ;
}