<ul class="pagination justify-content-end">
  <li class="page-item" [ngClass]="selectedPage.value==0 ? 'disabled' : ''">
    <a class="page-link" href="#" (click)="selectPage(selectedPage.value - 1)">Previous</a>
  </li>
  <li *ngIf="pages[0] >= PaginatorComponent.maxCountDisplayedPages" class="dot">
    <span>...</span>
  </li>
  <li *ngFor="let page of pages" class="page-item">
    <a class="page-link" href="#" [ngClass]="selectedPage.value == page ? 'selected-page' : ''" (click)="selectPage(page)">{{page+1}}</a>
  </li>
  <li *ngIf="pages[pages.length-1] < pagesCount - 1" class="dot">
    <span>...</span>
  </li>
  <li class="page-item" [ngClass]="selectedPage.value==pagesCount -1 ? 'disabled' : ''">
    <a class="page-link" href="#" (click)="selectPage(selectedPage.value + 1)">Next</a>
  </li>
</ul>