.flights-header{
    background-color: rgb(0, 160, 225);
    border-radius: 2px;
    padding: 10px 0 10px 0;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
}

.flight-row{
    border-bottom: 1px solid rgba(170, 174, 181, 0.68);
    padding: 10px 0 10px 0;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(0, 160, 225);
}

.search{
    border-radius: 5px;
    border-color: rgb(133, 190, 241);    
    border-width: thin; 
}

.search-row{
    margin: 0;
    padding: 10px 0;
}

.search-col{
    padding: 0;
    margin-left: -15px;
}

.search-button{
    background-color: rgb(0, 160, 225);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

.status {
    font-weight: bold;
}

.status-red {
    color: red;
}

.status-orange {
    color: orange;
}

.status-yellow {
    color: #f9d006;
}

.status-green {
    color: #14e471;
    font-weight: bold;
}


