<div class="container">

  <div class="search">
      <div class="form-row search-row">
          <div class="col-11 search-col">
              <input type="text" class="form-control search" placeholder="Flight..." [formControl]="search">
          </div>
          <div class="col">
              <button type="submit" class="btn btn-primary search-button" (click)="searchFlight()">Search</button>
          </div>
      </div>
  </div>

  <div class="row align-items-start flights-header">
      <div class="col">
          Flight
      </div>
      <div class="col">
          From
      </div>
      <div class="col">
          To
      </div>
      <div class="col">
          Departure Time
      </div>
      <div class="col">
          Arrival Time
      </div>
      <div class="col">
          Status
      </div>
  </div>
  <div *ngFor="let flight of flightsPage?.flights" class="row align-items-start flight-row">
      <div class="col">
          {{flight.airlineCode + flight.flightNumber}}
      </div>
      <div class="col">
          {{flight.departureCity}}
      </div>
      <div class="col">
          {{flight.arrivalCity}}
      </div>
      <div class="col">
          {{flight.departureTime | date: 'short'}}
      </div>
      <div class="col">
          {{flight.arrivalTime | date: 'short'}}
      </div>
      <div class="col status" [ngClass]="getFlightStatusClass(flight.statusCode)">
          {{flight.status}}
      </div>
  </div>
  <app-paginator [pagesCount]="flightsPage?.totalPages" (selectedPage)="selectPage($event)"></app-paginator>
</div>